$nav_links_color:#6a6d75;
$nav_links_hover_color:#0f346c;
$global_color:#ffffff;
$hero_button_color:#002c9b;
$section_2_5:#6a6d75;
$section_1:#303236;
$section_3_heading:#00a0df;
$footer_color:#a1bce6;
$orange_color:#f26226;
$nav_font:20px;
$btn_font:16px;
$glogal_font:15px;
$banner_font:50px;
$title_font:25px;