@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

header .head_div {
  background-color: #ffffff;
}

header .head_div .header_container {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding-top: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92%;
  margin-left: 4%;
}

header .head_div .header_container .logo_div {
  width: 90px;
  height: 51px;
}

header .head_div .header_container .logo_div svg {
  width: 100%;
  height: 100%;
}

header .head_div .header_container nav {
  padding: 0px 180px 0px 0px;
}

header .head_div .header_container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head_div .header_container nav ul li {
  list-style: none;
  text-decoration: none;
  padding: 0px 40px 0px 0px;
}

header .head_div .header_container nav ul li a {
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  color: #6a6d75;
}

header .head_div .header_container nav ul li a:hover {
  color: #0f346c;
}

header .head_div .header_container .login_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head_div .header_container .login_section .login_btn {
  font-family: 'Noto Sans', sans-serif;
  color: #6a6d75;
  font-size: 13px;
  border: none;
  background-color: transparent;
  margin: 0px 15px 0px 0px;
}

header .head_div .header_container .login_section .login_btn:hover {
  color: #0f346c;
}

header .head_div .header_container .login_section .signup_btn {
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  font-size: 13px;
  border: none;
  border-radius: 3px;
  background-color: #f26226;
  padding: 10px 25px 10px 25px;
}

header .head_div .header_container .login_section .signup_btn:hover {
  color: #ffffff;
}

header .head_div .header_container .hamburger {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
  display: none;
}

header .head_div .header_container .hamburger .mid_bar {
  width: 100%;
  background-color: rgba(8, 8, 8, 0.185);
  height: 2px;
  margin: 7px 0px 7px 0px;
}

header .head_div .header_container .hamburger .first_bar, header .head_div .header_container .hamburger .third_bar {
  width: 100%;
  background-color: rgba(8, 8, 8, 0.295);
  height: 2px;
}

header .hero_div {
  background-image: url("../../images/hero-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}

header .hero_div .banner {
  width: 50%;
  padding-top: 150px;
}

header .hero_div .banner h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #002c9b;
  font-size: 40px;
  text-align: center;
  width: 70%;
}

header .hero_div .banner .banner_btn {
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 5px;
  background-color: #002c9b;
  width: 220px;
  border-radius: 50px;
  text-align: center;
  padding: 15px;
  margin: 40px 0px 0px 30px;
  outline: none;
  border: none;
}

.section_one {
  width: 100%;
  padding: 6%;
}

.section_one .section_heading {
  font-family: 'Times New Roman', Times, serif;
  color: #002c9b;
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.section_one .heading_description {
  padding-top: 1%;
  font-size: 20px;
  font-weight: 400;
  color: #303236;
  width: 100%;
  text-align: center;
  line-height: 1;
  padding-bottom: 3%;
}

.section_one .section_one_images {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 3.5%;
          column-gap: 3.5%;
}

.section_one .section_one_images .gallery_item {
  width: 100%;
}

.section_one .section_one_images .gallery_item .gallery_image img {
  width: 100%;
}

.section_one .section_one_images .gallery_item h4 {
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.section_one .section_one_images .gallery_item .gallery_description {
  width: 100%;
  text-align: center;
}

.section-three-container {
  background-image: url("../../images/section three/img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.container .box {
  max-width: 614px;
  background-color: white;
  /* border: 1px solid black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding: 50px; */
  /* gap: 10px; */
}

.container .box .content {
  padding: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .box .content h1 {
  color: #00a0df;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: normal;
  font-weight: 700;
  padding-bottom: 30px;
}

.container .box .content .changeable {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #002c9b;
  font-weight: 900;
  padding-bottom: 18px;
}

.container .box .content .line {
  background: #00a0df;
  height: 5px;
  width: 100px;
  margin-top: 12px;
}

.container .box .content .person {
  padding-top: 30px;
  color: #002c9b;
  letter-spacing: 2.4px;
  font-size: 16px;
}

.container .box img {
  width: 100%;
}

/* 
p::before {
    content: "Before Blue Apron, I tried HelloFresh. Blue Apron beats them on all counts—directions, freshness, packing, and prep.";
    animation-name: change;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes change {
    0%{
        content: "My entire family loves the dishes I make! This truly makes my life easier as a working mom! It allows my family to sit down together and enjoy our dinner. I love that my kids love it.";
    }

    20% {
        content: "Before Blue Apron, I tried HelloFresh. Blue Apron beats them on all counts—directions, freshness, packing, and prep.";
    }

    40% {
        content: "We love Blue Apron! It eliminates a ton of food waste while allowing us to try new things and have tasty meals. Really great quality food, awesome flavors, and things we wouldn't otherwise have any idea how to create.";
    }

    80% {
        content: "We changed from HelloFresh to Blue Apron and it was the best choice we made!";
    }

    100% {
        content: "We’d tried many other food delivery services and none of them have compared in quality and variety to Blue Apron.";
    }
} */
@media (max-width: 960px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  button {
    cursor: pointer;
  }
  header .head_div {
    background-color: #ffffff;
  }
  header .head_div .header_container {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding-top: 10px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 92%;
    margin-left: 4%;
  }
  header .head_div .header_container .logo_div {
    width: 90px;
    height: 51px;
  }
  header .head_div .header_container .logo_div svg {
    width: 100%;
    height: 100%;
  }
  header .head_div .header_container nav {
    display: none;
    padding: 0px 180px 0px 0px;
  }
  header .head_div .header_container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .head_div .header_container nav ul li {
    list-style: none;
    text-decoration: none;
    padding: 0px 40px 0px 0px;
  }
  header .head_div .header_container nav ul li a {
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: #6a6d75;
  }
  header .head_div .header_container nav ul li a:hover {
    color: #0f346c;
  }
  header .head_div .header_container .login_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .head_div .header_container .login_section .login_btn {
    font-family: 'Noto Sans', sans-serif;
    color: #6a6d75;
    font-size: 13px;
    border: none;
    background-color: transparent;
    margin: 0px 15px 0px 0px;
    display: none;
  }
  header .head_div .header_container .login_section .login_btn:hover {
    color: #0f346c;
  }
  header .head_div .header_container .login_section .signup_btn {
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    background-color: #f26226;
    padding: 10px 25px 10px 25px;
    display: none;
  }
  header .head_div .header_container .login_section .signup_btn:hover {
    color: #ffffff;
  }
  header .head_div .header_container .hamburger {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
    display: block;
  }
  header .head_div .header_container .hamburger .mid_bar {
    width: 100%;
    background-color: rgba(8, 8, 8, 0.185);
    height: 2px;
    margin: 7px 0px 7px 0px;
  }
  header .head_div .header_container .hamburger .first_bar, header .head_div .header_container .hamburger .third_bar {
    width: 100%;
    background-color: rgba(8, 8, 8, 0.295);
    height: 2px;
  }
  header .hero_div {
    background-image: url("../../images/hero-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
  }
  header .hero_div .banner {
    width: 90%;
    margin-left: 5%;
    padding-top: 130px;
  }
  header .hero_div .banner h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #002c9b;
    font-size: 30px;
    width: 250px;
  }
  header .hero_div .banner .banner_btn {
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 5px;
    background-color: #002c9b;
    width: 220px;
    border-radius: 50px;
    text-align: center;
    padding: 15px;
    margin: 40px 0px 0px 30px;
    outline: none;
    border: none;
  }
  header .hero_div .banner .banner_btn header .head_div {
    background-color: #ffffff;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container {
    padding-top: 10px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 92%;
    margin-left: 4%;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container .logo_div {
    width: 90px;
    height: 51px;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container .logo_div svg {
    width: 100%;
    height: 100%;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container nav {
    display: none;
    padding: 0px 180px 0px 0px;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container nav ul li {
    list-style: none;
    text-decoration: none;
    padding: 0px 40px 0px 0px;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container nav ul li a {
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: #6a6d75;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container nav ul li a:hover {
    color: #0f346c;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container .login_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container .login_section .login_btn {
    font-family: 'Noto Sans', sans-serif;
    color: #6a6d75;
    font-size: 13px;
    border: none;
    background-color: transparent;
    margin: 0px 15px 0px 0px;
    display: none;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container .login_section .login_btn:hover {
    color: #0f346c;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container .login_section .signup_btn {
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    background-color: #f26226;
    padding: 10px 25px 10px 25px;
    display: none;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container .login_section .signup_btn:hover {
    color: #ffffff;
  }
  header .hero_div .banner .banner_btn header .head_div .header_container .hamburger {
    display: block;
  }
  header .hero_div .banner .banner_btn header .hero_div {
    background-image: url("../../../images/hero-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 570px;
    width: 100%;
    background-position: 50% 50%;
  }
  header .hero_div .banner .banner_btn header .hero_div .banner {
    width: 60%;
    margin-left: 20%;
    padding-top: 50px;
  }
  header .hero_div .banner .banner_btn header .hero_div .banner h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #002c9b;
    font-size: 32px;
    width: 350px;
  }
  header .hero_div .banner .banner_btn header .hero_div .banner .banner_btn {
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 5px;
    background-color: #002c9b;
    width: 220px;
    border-radius: 50px;
    text-align: center;
    padding: 15px;
    margin: 40px 0px 0px 20%;
    outline: none;
    border: none;
  }
}

@media (max-width: 765px) {
  header .head_div {
    background-color: #ffffff;
  }
  header .head_div .header_container {
    padding-top: 10px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 92%;
    margin-left: 4%;
  }
  header .head_div .header_container .logo_div {
    width: 90px;
    height: 51px;
  }
  header .head_div .header_container .logo_div svg {
    width: 100%;
    height: 100%;
  }
  header .head_div .header_container nav {
    display: none;
    padding: 0px 180px 0px 0px;
  }
  header .head_div .header_container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .head_div .header_container nav ul li {
    list-style: none;
    text-decoration: none;
    padding: 0px 40px 0px 0px;
  }
  header .head_div .header_container nav ul li a {
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: #6a6d75;
  }
  header .head_div .header_container nav ul li a:hover {
    color: #0f346c;
  }
  header .head_div .header_container .login_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .head_div .header_container .login_section .login_btn {
    font-family: 'Noto Sans', sans-serif;
    color: #6a6d75;
    font-size: 13px;
    border: none;
    background-color: transparent;
    margin: 0px 15px 0px 0px;
    display: none;
  }
  header .head_div .header_container .login_section .login_btn:hover {
    color: #0f346c;
  }
  header .head_div .header_container .login_section .signup_btn {
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    background-color: #f26226;
    padding: 10px 25px 10px 25px;
    display: none;
  }
  header .head_div .header_container .login_section .signup_btn:hover {
    color: #ffffff;
  }
  header .head_div .header_container .hamburger {
    display: block;
  }
  header .hero_div {
    background-image: url("../../../images/mobile-splash-v2 (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 570px;
    width: 100%;
    background-position: 50% 50%;
  }
  header .hero_div .banner {
    width: 60%;
    margin-left: 20%;
    padding-top: 50px;
  }
  header .hero_div .banner h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #002c9b;
    font-size: 32px;
    width: 350px;
  }
  header .hero_div .banner .banner_btn {
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 5px;
    background-color: #002c9b;
    width: 220px;
    border-radius: 50px;
    text-align: center;
    padding: 15px;
    margin: 40px 0px 0px 20%;
    outline: none;
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */